@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:300|Pinyon+Script|Schoolbell);

html,body {
	margin: 0 auto;
	padding: 0;
	background-color: #fff;
}

.fancy-font-1 {
	font-family: 'Schoolbell', cursive;
}
.fancy-font-1 > a,
.fancy-font-1 > a:hover {
	text-decoration: none;
	color: #636b6f;
}
.fancy-font-2 {
	font-family: 'Pinyon Script', cursive;
}

.fancy-font-3 {
	font-family: 'Josefin Sans', sans-serif;
}

p.fancy-font-3 {
	margin-bottom: 0;
}
.black {
	color: #333;
}
.footer {
	border-top: 1px solid #ddd;
	padding-top: 40px;
	padding-bottom: 40px;
}
.margin-top-gamay {
	margin-top: 10px;
	margin-bottom: 15px;
}